body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #f4f4f4;
    color: #333;
}

#nft-dropdown,
#crafting-details {
    width: 80%;
    margin: 0 auto;
    margin-bottom: 20px;
    border-radius: 5px;
}

#nft-dropdown {
    width: 50%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    outline: none;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

#crafting-details {
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ddd;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.table {
    width: 100%; /* Ensures the table takes up the full width of its container */
    border-collapse: collapse; /* Removes gaps between cells */
    margin-bottom: 20px; /* Adds some space below each table */
}

.table th, .table td {
    border: 1px solid #ddd; /* Adds a border around each cell */
    text-align: left; /* Aligns text to the left (adjust as needed) */
    padding: 8px; /* Adds some padding inside each cell */
}

.table th {
    background-color: #f2f2f2; /* Gives the header cells a grey background */
}

/* Ensures each column takes up an equal amount of space */
.table td, .table th {
    width: 50%;
}
